/* minified 02.09.21 23.06*/
/* NAVIGATION STYLING START */
nav {
  background: rgb(17, 17, 17);
  background: -moz-linear-gradient(295deg, rgba(17,17,17,1) 26%, rgba(67,0,21,1) 100%);
  background: -webkit-linear-gradient(295deg, rgba(17,17,17,1) 26%, rgba(67,0,21,1) 100%);
  background: linear-gradient(295deg, rgba(17,17,17,1) 26%, rgba(67,0,21,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111",endColorstr="#430015",GradientType=1);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 950;
}
ul {
  display: inline;
}
li {
  float: right;
  list-style-type: none;
  line-height: 50px;
  vertical-align: middle;
  padding-right: 0.85rem;
  padding-left: 0.85rem;
}
li.nav-last {
  margin-right: 1rem;
}
li.current {
  background-color: rgba(25,25,25);
}
.nav-dropdown:hover {
  background-color: rgba(25,25,25);
}
nav a {
  color: #c50038;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
nav a:hover {
  color: #ff0149;
  text-decoration: none;
  transition: ease-in all 150ms;
}
.dropbtn {
  color: #c50038;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.nav-dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 0.1px;
}
.nav-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-top: 12px;
}
.nav-menu {
  background-image: url(local/nav-icon.svg);
  filter: invert(9%) sepia(72%) saturate(6618%) hue-rotate(334deg) brightness(105%) contrast(112%);
}
.nav-menu:focus, .nav-menu:hover {
  filter: invert(12%) sepia(76%) saturate(6299%) hue-rotate(338deg) brightness(110%) contrast(106%);
  transition: ease-in all 150ms;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color:  rgba(25,25,25);
  width: 100%;
  z-index: 1;
  padding-bottom: 8px;
}
.dropdown-content a {
  color: #c50038;
  line-height: 36px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {background-color: #111111}
.nav-dropdown:hover .dropdown-content {
  display: block;
}
nav #nav-logo-resize {
  max-height: 1.5rem;
  margin-left: 3%;
  margin-top: 13px;
  margin-bottom: 7px;
}
.alert {
  color: #df003f;
  display: inline-block;
  width: 165px;
  height: 50px;
  margin-left: 14px;
  position: absolute;
  cursor: default;
}
.alert p:hover {
  color: #b1b1b1;
  border-color: #b1b1b1;
}
.alert p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.85em;
  top: 13px;
  position: absolute;
  margin: auto;
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 3px;
  padding-right: 7px;
  border: 1.7px solid;
  border-color: inherit;
  border-radius: 15px;
  color: inherit;
  transition: all 400ms;
}
.noLazyLoad {
  opacity: 1;
}
/* SPLASH INTRO SECTION STARTS */
.splashIntro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818f6;
  z-index: 999;
  text-align: center;
}
.splashIntro.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -10;
  text-align: center;
  transition: all 1s;
}
.splashIntro.noRun {
  display: none;
}
img#splashResize {
  max-width: 16%;
  position: absolute;
  left: 42%;
  top: 38%;
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
.splashFade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
/* SPLASH INTRO SECTION ENDS */
#text {
  margin-top: 32px;
  margin-right: 10px;
  float: right;
}
#gridCount,#materialCount,#websiteVersion,#gridRow {z-index: initial;}
body#no-pattern{
  background-image: url(local/sitehero.webp);
  background-repeat: no-repeat;
  background-color: #181818;
  background-size: contain;
  margin: 0;
}
body {background-color: #181818;margin: 0;}
.footer {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  grid-template-areas: 
    "left right";
  margin-top: 20px;
  min-height: 16vw;
  width: 100%;
  background: rgb(17,17,17);
  background: -moz-linear-gradient(236deg, rgba(17,17,17,1) 39%, rgba(67,0,21,1) 77%);
  background: -webkit-linear-gradient(236deg, rgba(17,17,17,1) 39%, rgba(67,0,21,1) 77%);
  background: linear-gradient(236deg, rgba(17,17,17,1) 39%, rgba(67,0,21,1) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111",endColorstr="#430015",GradientType=1);
  position: absolute;
}
.left {grid-area: left;}
.right {grid-area: right;}
.textbox {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 3%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.right img {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: calc(40px + 5vw);
}
.left p {
  color: rgb(128, 128, 128);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 1em;
  margin-left: 2px;
}
.left h1 {
  color: rgb(177, 177, 177);
  font-family: 'Roboto', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
  line-height: 20px;
}
.left a , #post-area a{
  color: #b1b1b1;
  text-decoration: none;
}
a:hover{
  color: #ff0149;
  text-decoration: none;
}
div#infobadge {
  margin: auto;
  border-radius: 3px;
  background-color: #141414;
  width: 95%;
  text-align: center;
  display: block;
  -webkit-box-shadow: 0 10px 10px -1px rgba(255, 1, 73, 0.65);
  -moz-box-shadow: 0 10px 10px -1px rgba(255, 1, 73, 0.65);
  box-shadow: 0 0 10px -1px rgba(255, 1, 73, 0.65);
}
div#infobadge:hover {
  -webkit-box-shadow: 0 24px 10px -1px rgba(255, 1, 73, 0.8);
  -moz-box-shadow: 0 24px 10px -1px rgba(255, 1, 73, 0.8);
  box-shadow: 0 0 24px -1px rgba(255, 1, 73, 0.8);
  transition: ease-in-out all 300ms;
}
p#infobadge {
  font-family: 'Roboto', sans-serif;
  color:#b1b1b1;
  font-size: 0.87em;
  padding: 8px;
  cursor: default;
}
/* SEARCH ENGINE STYLING STARTS */
.--searchengine {
  margin: auto;
}
.--searchengine input {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-family: 'Roboto', sans-serif;
  background-image: url('local/search-engine.png');
  background-position: 10px 4.5px;
  background-size: 23px;
  background-repeat: no-repeat;
  border-radius: 3px;
  font-size: 14px;
  width: 55%;
  padding: 8px 20px 8px 40px;
  color: #b1b1b1;
  background-color: #141414;
  border: none;
  transition: width 0.3s ease-in-out;
  -webkit-box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
}
.--searchengine input:focus{
  width: 65%;
  outline: none;
}
#--searchengine-alert {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 12vh;
  margin-bottom: 46vh;
}
#--searchengine-alert-noresult {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:#b1b1b1;
  font-size: 3em;
  cursor: default;
}
/* ABOUT PAGE STARTS */
#post-area {
  margin: auto;
  width: 94%;
  border-radius: 6px;
  background-color: rgba(20, 20, 20, 0.904);
  margin-bottom: 40px;
}
.post-preset {
  margin-left: 2.8vw;
  margin-right: 2.5vw;
}
.post-preset h1{
  padding-top: 2vw;
  font-weight: 300;
  font-size: 2.3em;
  font-family: 'Roboto', sans-serif;
  color: #eb0042;
  margin-bottom: -10px;
}
.post-preset h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color:#b1b1b1;
  margin-left: 0.5vw;
  margin-bottom: -12px;
}
.post-preset p {
  margin-bottom: 25px;
  margin-left: 0.5vw;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
 }
mark {
  font-size: 12px;
  border-radius: 3px;
  padding: 1.5px;
  padding-right: 2.5px;
  margin-right: 1px;
  color: #141414;
  font-weight: 500;
  vertical-align: 1px;
}
mark.bd-add {
  background: #2ECC40;
}
mark.bd-remove {
  background: #FF4136;
}
mark.bd-change {
  background: #0074D9;
}
mark.bd-fix {
  background: #FF851B;
}
.gridInfo {
  opacity: 0;
}
.col:hover > .gridInfo {
  opacity: 1;
  transition: ease-in-out all 200ms;
}
.gridInfo:hover {
  -webkit-box-shadow: 0 0 35px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 0 0 35px -1px rgba(0,0,0,0.65);
  box-shadow: 0 0 35px -1px rgba(0,0,0,0.65);
}
.gridInfo {
  position: absolute;
  background-color: #4b4b4b;
  border-radius: 3px;
  height: 22px;
  top: 95.7%;
  left: 50%;
  transform: translate(-50%);
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 0 0 17px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 0 0 17px -1px rgba(0,0,0,0.65);
  box-shadow: 0 0 17px -1px rgba(0,0,0,0.65);
}
.gridInfo.widget-software {
  -webkit-box-shadow: inset 0 0 27px -4px #671a9a;
  -moz-box-shadow: inset 0 0 27px -4px #671a9a;
  box-shadow: inset 0 0 27px -4px #671a9a;
}
.gridInfo.widget-lego {
  -webkit-box-shadow: inset 0 0 27px -4px #810a0b;
  -moz-box-shadow: inset 0 0 27px -4px #810a0b;
  box-shadow: inset 0 0 27px -4px #810a0b;
}
.gridInfo.widget-maplabs {
  -webkit-box-shadow: inset 0 0 27px -4px #60d630;
  -moz-box-shadow: inset 0 0 27px -4px #60d630;
  box-shadow: inset 0 0 27px -4px #60d630;
}
.gridInfo p#colCount {font-weight: 500; margin-right: 0;}
.gridInfo p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 0.75em;
  line-height: 22px;
  color: #dddddd;
  margin-right: 5px;
  padding: 0;
  cursor: default;
}
.gridInfo a {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 0.75em;
  line-height: 22px;
  color: #dddddd;
  text-decoration: none;
}
.gridInfo a:hover {
  color: black;
  transition: ease-in-out all 150ms;
}
.gridInfo a:visited {
  text-decoration: none;
}
/* FLEX GRID SECTION STARTS */
.row {
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.col {
  position: relative;
  flex: 1 0 14%;
  margin: 1%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}
.zoomVER ,.zoomHOR {
  cursor: pointer !important;
}
.horizontalFrame {
  height: 21.791932vw;
  background-image: url(local/grad+simulated.webp);
  background-size: 110%;
  background-position: center;
  transition: all 250ms;
}
.horizontalFrame:hover {
  background-image: url(local/grad+feather.webp);
  transition: all 200ms;
}
#load {
  width: 99.9%;
  height: auto;
  -webkit-box-shadow: 0 7px 13px 1px rgba(0,0,0,0.62);
  -moz-box-shadow: 0 7px 13px 1px rgba(0,0,0,0.62);
  box-shadow: 0 7px 13px 1px rgba(0,0,0,0.62);
}
figure {
  display: inline-block;
  margin: 0 0 0 0;
  width: 100%;
  text-align: center;
}
img {
  opacity: 0;
}
.col img {
  height: 21.961932650073205vw;
}
.fade {
  opacity: 1;
  transition: all 750ms;
}
.collection-col {
  flex: 1 0 30%;
  margin: 2%;
  height: 100%;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.wrapper {
  width: 100%;
  overflow: auto;
  margin: auto;
}
.wrap-right {float: right; width: 50%;}
.wrap-left {float: left; width: 50%;}
.changelog-grid {
  display: grid;
  grid-template-columns: auto;
  row-gap: 16px;
}
.changelog-col {
  margin: 1px 26px 12px 26px;
  border-radius: 6px;
  padding-bottom: 1px;
  background-color: #141414;
  display: grid;
}
.changelog-col h2{
  color: #b1b1b1;
  margin-left: 2vw;
  margin-top: 24px;
  line-height: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  
}
.changelog-col hr{
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #c50038;
  border-style: solid;
}
.changelog-col p{
  margin-left: 2vw;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 22px;
  font-size: 0.9em;
 }
 .changelog-col b {
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  color: #eb0042;
 }
 .changelog-col a {
  text-decoration: none;
 }
 .changelog-col p:hover > i {
  opacity: 1;
  transition: ease-in-out all 400ms;
 }
 .changelog-col p i{
  opacity: 0;
  vertical-align: 1px;
  font-size: 12px;
  border-radius: 10px;
  padding: 1px;
  padding-right: 5px;
  padding-left: 4px;
  font-style: normal;
  margin-left: 3px;
  border: 1px solid #585858;
  color:  #585858;
 }
 .changelog-col h2 b{
  border: 1px solid #585858;
  border-radius: 3px;
  color:  #585858;
  padding: 1px;
  padding-right: 5px;
  padding-left: 4px;
  font-size: 12px;
  font-weight: 400;
  vertical-align: 3px;
}
/* CHANGELOG COLLAPSIBLES */
.collapsible {
  background-color: #14141400;
  background-image: url('local/collapsible-closed.svg');
  background-position: 99.5% 2.5px;
  background-size: 48px;
  background-repeat: no-repeat;
  color: #eb0042;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.7em;
  outline: none;
  border: none;
  margin-left: 6px;
  padding: 10px;
  width: 99%;
  text-align: left;
  cursor: pointer;
}
.active {
  background-image: url('local/collapsible-open.svg');
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.mobileNav {display: none;}
/* MEDIA QUARIES */
@media only screen and (max-width: 900px) {
  .col {
    flex: 1 0 18%;
    height: auto;
  }
  .splashIntro {
    display: none;
  }
  .footer {min-height: 20vw;}
  .left h1 {
    font-size: calc(16px + 0.4vw);
  }
  .left p {font-size: calc(8px + 0.3vw);line-height: 7px;}
}
@media only screen and (max-width: 800px) {
  .row {margin: 14px;}
  .col {
    flex: 1 0 20%;
    height: auto;
  }
  .changelog-col {
    flex: 1 0 80%;
  }
  .alert {display: none;}
}
@media only screen and (max-width: 715px) {
  .col {flex: 1 0 25%;height: auto;}
  .collection-col {flex: 1 0 90%; margin: 20px;}
  .changelog-col {flex: 1 0 90%; margin: 20px;}
  #collectionInfo p {display: none;}
  .footer {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "left"
      "right"; 
  }
  .textbox {
    height: 100%;
    position: relative;
    margin: 0;
    top: 0x;
    left: 0;
    -ms-transform: 0;
    transform: 0;
  }
  .right img {
    display:block;
    position: relative;
    margin: auto;
    left: 0;
    -ms-transform: 0;
    transform: 0;
  }
  .left {
    text-align: center;
  }
  .left h1 {
    font-size: calc(16px + 1vw);
  }
  .left p {font-size: calc(8px + 0.7vw);line-height: 10px;}
}
@media only screen and (max-width: 620px) {
  .col {flex: 1 0 40%;height: auto;justify-content: center;}
  .responsiveNav {display: none;}
  .l1 {position: absolute;top: 50px;background-color: #111111;}
  .l2 {position: absolute;top: 100px;background-color: #111111;}
  .l3 {position: absolute;top: 150px;background-color: #111111;}
  .l4 {position: absolute;top: 200px;background-color: #111111;}
  .l5 {position: absolute;top: 250px;background-color: #111111;left: 0;}
  li {padding: 0;}
  .responsiveNav {width: 100%;text-align: center;}
  .mobileNav {display: inline;}
  .--searchengine input {width: 70%;}
  .--searchengine input:focus {width: 70%;}
}
@media only screen and (max-width: 490px) {
  .row {margin: 17px;}
  .collectionContainer {display: none;}
}
@media only screen and (max-width: 400px) {
  .--searchengine input {font-size: 12px;}
  .row {margin: 15px;}
  .col {flex: 1 0 80%;margin: 5px;height: auto;width: 100%;}
  .navhead a {display: none;}
}
/* COLLECTION SPESIFIC DESIGN STARTS */
.collectionContainer {
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 165px;
  margin-top: -6px;
  padding:10px 0;
}
.collectionContainer #desc{
  margin-top: 0;
  margin-left: 2%;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  color: rgb(128, 128, 128);
}
#collectionInfo {
  display: inline;
  float: right;
  height: 100%;
  margin-right: 2%;
}
#collectionInfo p { 
  margin-top: 62px;
  margin-left: 10px;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 6px;
  border: 1px solid #b1b1b1;
  color:  #b1b1b1;
  cursor: default;
}
a#col-auth {
  font-style: italic;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #b1b1b1;
}
a#col-auth:hover {
  color: #ff0149;
  transition: all 300ms;
}
img#lego-img {
  margin-top: 5px;
  width: 500px;
  margin-left: 1.2%;
}
img#software-img {
  width: 450px;
  margin-left: 1.2%;
  margin-top: 15px;
}
img#map-labs-img {
  width: 320px;
  margin-left: 1.2%;
}
body#lego {
  background-image: url(local/pattern-lego.png);
  background-repeat: repeat;
}
body#software {
  background-image: url(local/pattern-software.png);
  background-repeat: repeat;
}
body#map-labs {
  background-image: url(local/pattern-map-labs.png);
  background-repeat: repeat;
}