RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]

ErrorDocument 404 https://theema-dev.github.io/highRES/local/errorcodes/404.html
