.navhead {
  background-color: #111111;
  position: fixed;
  width: 100%;
}

.navhead img {
  max-height: 3.5em;
  margin-left: 2%;
  margin-top: 9px;
  margin-bottom: 5px;
}
.navhead a {
  color: #df003f;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: right;
}
.noLazyLoad {
  opacity: 1;
}
/* SPLASH INTRO SECTION STARTS */
.splashIntro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818f6;
  z-index: 200;
  text-align: center;
}
.splashIntro.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -10;
  text-align: center;
  transition: all 1s;
}
.splashIntro.noRun {
  display: none;
}
img#splashResize {
  max-width: 16%;
  position: absolute;
  left: 42%;
  top: 38%;
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
.splashFade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
/* SPLASH INTRO SECTION ENDS */
#text {
  margin-top: 32px;
  margin-right: 10px;
  float: right;
}
body {
  background-color: #181818;
  margin: 0;
}
.footer {
  margin-top: 20px;
  min-height: 16vw;
  width: 100%;
  background-color: #111111;
  position: absolute;
}
.left {
  float: left;
  margin-top: 2.6354319180087846vw;
  margin-left: 3vw;
}
.right {
  float: right;
  margin-top: 4.7vw;
  margin-right: 3vw;
}
.right #imgresize {
  max-height: 7.320644216691069vw;
}
.left p {
  color: rgb(128, 128, 128);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1em;
  margin-left: 2px;
}
.left h1 {
  color: rgb(177, 177, 177);
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 20px;
  margin-top: 15px;
}
.left a {
  color: rgb(177, 177, 177);
  text-decoration: none;
}
.left a:hover {
  color: #ff0149;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 14%; /* The important bit. This percentage decides your columns. 
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 1%;
  height: 21.961932650073205vw;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.col #shown{
  width: 100%;
  height: 101%;
  max-width: 300px;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.62);
  box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.62);
}
img {
  opacity: 0;
  transition: all 900ms;
}
.col #hidden {
  width: 100%;
  height: 101%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}
.col #hidden::selection {
  background: transparent;
}
.col #hidden::-moz-selection {
  background: transparent;
}
.fade {
  opacity: 1;
  transition: all 900ms;
}


@media only screen and (max-width: 900px) {
  .col {
    flex: 1 0 18%;
    margin: 1%;
    height: auto;
  }
  .col #hidden {
    display: none;
  }
  .right {
    float: right;
    margin-top: 6vw;
    margin-right: 3vw;
  }
  .splashIntro {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .col {
    flex: 1 0 20%;
    margin: 1%;
    height: auto;
  }
  .col #hidden {
    display: none;
  }
  .right {
    float: right;
    margin-top: 8vw;
    margin-right: 3vw;
  }
}
@media only screen and (max-width: 700px) {
  .col {
    flex: 1 0 25%;
    margin: 1%;
    height: auto;
  }
  .col #hidden {
    display: none;
  }
  .right {
    float: none;
    text-align: center;
  }
  .left h1 {
    text-align: center;
  }
  .left {
    float: none;
    text-align: center;
  }
  .right #imgresize {
    max-height: 20vw;
    opacity: 1;
    margin-left: 5vw;
}
/* for tablets and phones */
@media only screen and (max-width: 600px) {
  .col {
    flex: 1 0 40%;
    margin: 1%;
    height: auto;
  }
  .col #hidden {
    display: none;
  }
}
/* for mobile phones */
@media only screen and (max-width: 400px) {
  .col {
    flex: 1 0 80%;
    margin: 5px;
    height: auto;
    width: 100%;
  }
  .col #hidden {
    display: none;
  }
  .navhead a {
    display: none;
  }
}}