:root {
  --accent: #ff0149;
  --accent_light: #c80039;
}
/* NAVIGATION STYLING START */
nav {
  background: rgba(24, 26, 27, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 950;
  border-bottom: 1px solid #222;
}
ul {
  display: inline;
}
li {
  float: right;
  list-style-type: none;
  line-height: 50px;
  vertical-align: middle;
  padding-right: 0.85rem;
  padding-left: 0.85rem;
  text-align: center;
}
li.nav-last {
  margin-right: 1rem;
}
a.current {color: var(--accent);}
.nav-dropdown{transition: ease-in-out 200ms;}
.nav-dropdown:hover {
  background: rgba(24,26,27,0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
nav li a {
  color: #888;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
nav a:hover {
  color: var(--accent);
  text-decoration: none;
  transition: ease-in all 150ms;
}
.dropbtn {
  color: #888;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover {color: #888;}
.nav-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-top: 12px;
}
.nav-menu {
  background-image: url(local/nav-icon.svg);
}
.nav-menu:focus, .nav-menu:hover {
  filter: brightness(0%) contrast(30%);
  transition: ease-in all 150ms;
}
.dropdown-content {
  display: none;
  position: relative;
  padding: 8px 0px 8px 0px;
  width: 100%;
  text-align: center;
}
.dropdown-content a {
  color: #888;
  position: relative;
  line-height: 40px;
  text-decoration: none;
  width: auto;
  display: block;
}
.nav-dropdown:hover .dropdown-content {
  display: block;
}
.branding {display: inline; height: 50px;}
.branding img {
  height: 22px;
  margin: 7px 0px;
  margin-left: calc(1.85rem - 7px);
  padding: 7px;
}
.branding h1 {
  display: inline;
  position: absolute;
  color: var(--accent);
  font-family: 'Inter', sans-serif;
  padding: 7px;
  padding-left: 2px;
  margin: 6px 0px;
  font-size: 20px;
  font-weight: 700;
}
.alert {
  color: var(--accent);
  display: inline-block;
  width: 165px;
  height: 50px;
  margin-left: 14px;
  position: absolute;
  cursor: default;
}
.alert p:hover {
  color: #b1b1b1;
  border-color: #b1b1b1;
}
.alert p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.85em;
  top: 13px;
  position: absolute;
  margin: auto;
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 3px;
  padding-right: 7px;
  border: 1.7px solid;
  border-color: inherit;
  border-radius: 15px;
  color: inherit;
  transition: all 400ms;
}
.noLazyLoad {
  opacity: 1;
}
/* SPLASH INTRO SECTION STARTS */
.splashIntro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818f6;
  backdrop-filter: blur(8px);
  z-index: 999;
  text-align: center;
}
.splashIntro.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -10;
  text-align: center;
  transition: all 1s;
}
.splashIntro.noRun {
  display: none;
}
img#splashResize {
  max-width: 18vw;
  position: absolute;
  left: 42%;
  top: 45%;
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
.splashFade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
/* SPLASH INTRO SECTION ENDS */
#text {
  margin-top: 32px;
  margin-right: 10px;
  float: right;
}
#gridCount,#materialCount,#websiteVersion,#gridRow {z-index: initial;}
body#no-pattern{
  background-image: url(local/sitehero.webp);
  background-repeat: no-repeat;
  background-color: #181818;
  background-size: contain;
  margin: 0;
}
body {background-color: #181818;margin: 0;}
.footer {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  grid-template-areas: 
    "left right";
  margin-top: 20px;
  min-height: 270px;
  width: 100%;
  background: rgba(24, 26, 27, 0.6);
  background-image: url(local/footer-background.svg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-position: 0px -150px;
  position: absolute;
}
.left {grid-area: left;}
.right {grid-area: right;}
.textbox {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 3%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.right img {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: calc(40px + 2vw);
  transition: ease-in-out all 400ms;
  filter: opacity(40%);
  -webkit-filter: opacity(40%);
}
.right img:hover {
  filter: opacity(100%);
  -webkit-filter: opacity(100%);
}
.left p {
  color: rgb(128, 128, 128);
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 2px;
}
.left h1 {
  color: rgb(177, 177, 177);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
}
.left a , #post-area a{
  color: #b1b1b1;
  text-decoration: none;
}
#post-area a:hover, .left a:hover{
  color: var(--accent);
  text-decoration: none;
  transition: ease-in-out 100ms;
}
div#infobadge {
  margin: auto;
  border-radius: 3px;
  background-color: #141414;
  width: 95%;
  text-align: center;
  display: block;
  -webkit-box-shadow: 0 10px 10px -1px rgba(255, 1, 73, 0.65);
  -moz-box-shadow: 0 10px 10px -1px rgba(255, 1, 73, 0.65);
  box-shadow: 0 0 10px -1px rgba(255, 1, 73, 0.65);
}
div#infobadge:hover {
  -webkit-box-shadow: 0 24px 10px -1px rgba(255, 1, 73, 0.8);
  -moz-box-shadow: 0 24px 10px -1px rgba(255, 1, 73, 0.8);
  box-shadow: 0 0 24px -1px rgba(255, 1, 73, 0.8);
  transition: ease-in-out all 300ms;
}
p#infobadge {
  font-family: 'Roboto', sans-serif;
  color:#b1b1b1;
  font-size: 0.87em;
  padding: 8px;
  cursor: default;
}
/* SEARCH ENGINE STYLING STARTS */
.vaultmain-searchengine {
  margin: auto;
}
.vaultmain-searchengine input {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-family: 'Inter', sans-serif;
  background-image: url('local/search-engine.png');
  background-position: 10px 6px;
  background-size: 23px;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-size: 15px;
  width: 40%;
  padding: 10px 20px 10px 40px;
  color: #b1b1b1;
  background-color: rgba(24, 26, 27, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  outline: #222 solid 1px;
}
.vaultmain-searchengine input:focus{
  outline: #222 solid 1px;
}
#vaultmain-searchengine-alert {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 12vh;
  margin-bottom: 46vh;
}
#vaultmain-searchengine-alert-noresult {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color:#b1b1b1;
  font-size: 3em;
  cursor: default;
}
/* ABOUT PAGE STARTS */
#post-area {
  margin: auto;
  width: 94%;
  border-radius: 12px;
  background-color: rgba(20, 20, 20, 0.7);
  margin-bottom: 20px;
}
.post-preset {
  margin-left: 3.3vw;
  margin-right: 2.5vw;
}
.post-preset h1{
  padding-top: 2rem;
  font-weight: 700;
  font-size: 2.3em;
  font-family: 'Inter', sans-serif;
  color: var(--accent);
}
.post-preset h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color:#b1b1b1;
  margin-bottom: -12px;
}
.post-preset p {
  margin-bottom: 25px;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
 }
mark {
  background-color: #707070;
  font-size: 12px;
  border-radius: 3px;
  padding: 1.5px;
  padding-right: 2.5px;
  margin-right: 1px;
  color: #141414;
  font-weight: 500;
  vertical-align: 1px;
}
mark.bd-add {
  background: #2ECC40;
}
mark.bd-remove {
  background: #FF4136;
}
mark.bd-change {
  background: #0074D9;
}
mark.bd-fix {
  background: #FF851B;
}
.col:hover > .gridInfo {
  opacity: 1;
  transition: ease-in-out all 200ms;
}
.gridInfo {
  position: absolute;
  top: 0;
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 12px;
  width: 100%;
  height: 99%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(16,16,16,0.8) 0%, rgba(16,16,16,0.4) 35%, rgba(16,16,16,0.4) 74%, rgba(16,16,16,0.9) 100%);
  pointer-events: none;
}
.gridInfo .details {
  grid-area: 3 / 1 / 4 / 3;
  text-align: left;
  padding-left: 15px;
  margin-top: 3.4vw;
}
.gridInfo .badges {
  grid-area: 1 / 2 / 2 / 3;
  height: 40px;
  pointer-events: visible;
}
.badges.collection {pointer-events: none;}
.badges img {
  margin: 6px;
  width: 35px;
  height: auto !important;
  float: right;
  opacity: 1;
  filter: invert(70%);
}
.badges img:hover {filter: invert(100%); transition: ease-in-out all 200ms;}
.gridInfo p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 2px;
  font-size: 0.75em;
  color: #dddddd;
  padding: 0;
  cursor: default;
}
.gridInfo h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  margin: 0;
  color: #dddddd;
  text-decoration: none;
}
.details img {
  display: inline;
  opacity: 1;
  margin-left: 3px;
  padding: 0;
  width: 0.85em;
  margin-bottom: -1px;
  transition: ease-in-out all 200ms;
}
.details a p{transition: ease-in-out all 200ms;}
.details a:hover > img {filter: drop-shadow(0px 0px 1px #ffffff) drop-shadow(0px 0px 2px rgba(212, 212, 212, 0.6));}
.details a {
  display: inline;
  text-decoration: none;
  pointer-events: visible;
}
.details p {display: inline; cursor: pointer;}
/* FLEX GRID SECTION STARTS */
.row {
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.col {
  position: relative;
  flex: 1 0 14%;
  margin: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.zoomVER ,.zoomHOR {
  cursor: pointer !important;
}
.zoomVER ,.widget{border-radius: 12px;}
.horizontalFrame {
  height: auto;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 250ms;
}
#load {
  width: 100%;
  height: auto;
}
img {
  opacity: 0;
}
.col img {
  height: auto;
}
.fade {
  opacity: 1;
  transition: all 750ms;
}
.collection-col {
  flex: 1 0 30%;
  margin: 2%;
  height: 100%;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.changelog {
  width: 94%;
  margin: auto;
  border-radius: 12px;
  padding-bottom: 1px;
  background-color: rgba(20, 20, 20, 0.9);
  display: grid;
  cursor: default;
}
.changelog h2{
  color: #b1b1b1;
  margin-left: 2vw;
  margin-top: 40px;
  line-height: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}
.changelog hr{
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--accent);
  border-style: solid;
}
.changelog p{
  margin: auto 8px auto 2vw;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 22px;
  font-size: 0.9em;
 }
 .changelog b {
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  color: var(--accent);
 }
 .changelog a {
  text-decoration: none;
 }
 .changelog p:hover > i {
  opacity: 1;
 }
 .changelog p i{
  opacity: 0;
  vertical-align: 1px;
  font-size: 12px;
  border-radius: 10px;
  padding: 1px;
  padding-right: 5px;
  padding-left: 4px;
  font-style: normal;
  margin-left: 3px;
  border: 1px solid #585858;
  color:  #585858;
  transition: ease-in-out all 300ms;
 }
 .changelog p i:hover {color: #969696;border-color:#969696;}
 .changelog h2 b{
  border: 1px solid #585858;
  border-radius: 6px;
  color:  #585858;
  padding: 1px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 400;
  vertical-align: 3px;
  transition: ease-in-out 300ms;
}
.changelog h2 b:hover,.changelog h2 b#build {color: #969696;border-color:#969696;}
.changelog h2 b#build:hover{color: #44cf54;border-color:#44cf54;}

/* CHANGELOG COLLAPSIBLES */
.collapsible {
  background-color: #14141400;
  background-image: url('local/collapsible-closed.svg');
  background-position: 99.5% 2.5px;
  background-size: 48px;
  background-repeat: no-repeat;
  color: var(--accent);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.7em;
  outline: none;
  border: none;
  margin-left: 1.5vw;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}
.active {
  background-image: url('local/collapsible-open.svg');
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.mobileNav {display: none;}
/* COLLECTION SPESIFIC DESIGN STARTS */
.collectionContainer {
  background: rgba(24, 26, 27, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  width: 100%;
  margin-top: -6px;
  padding:20px 0;
}
.collectionContainer p {
  margin-top: 0;
  margin-left: 1.5rem;
  padding: 0px 15px;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  color: rgb(128, 128, 128);
}
#collectionInfo {
  display: inline;
  float: right;
  height: 100%;
  margin-right: 2%;
}
#collectionInfo p { 
  margin-top: 62px;
  margin-left: 10px;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 6px;
  border: 1px solid #b1b1b1;
  color:  #b1b1b1;
  cursor: default;
}
.collectionContainer a {
  font-style: italic;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #b1b1b1;
}
.collectionContainer a:hover {
  transition: all 300ms;
}
.collectionContainer img {margin-left: 1.5rem;}
#lego .collectionContainer {
  -webkit-box-shadow: inset 0px -180px 60px -190px rgba(240, 221, 50, 0.7);
  -moz-box-shadow: inset 0px -180px 60px -190px rgba(240, 221, 50, 0.7);
  box-shadow: inset 0px -180px 60px -200px rgba(240, 221, 50, 0.7);
}
#map-labs .collectionContainer {
  -webkit-box-shadow: inset 0px -180px 60px -190px rgba(95, 214, 48, 0.7);;
  -moz-box-shadow: inset 0px -180px 60px -190px rgba(95, 214, 48, 0.7);;
  box-shadow: inset 0px -180px 60px -200px rgba(95, 214, 48, 0.7);
}
#software .collectionContainer {
  -webkit-box-shadow: inset 0px -180px 60px -190px rgba(161, 47, 255, 0.7);
  -moz-box-shadow: inset 0px -180px 60px -190px rgba(161, 47, 255, 0.7);
  box-shadow: inset 0px -180px 60px -200px rgba(161, 47, 255, 0.7);
}
#lego .collectionContainer #collectionInfo p , #lego .collectionContainer a:hover{color: #f0de32; border-color: #f0de32;}
#map-labs .collectionContainer #collectionInfo p , #map-labs .collectionContainer a:hover {color: #5fd630; border-color: #5fd630;}
#software .collectionContainer #collectionInfo p , #software .collectionContainer a:hover {color: #a12fff; border-color: #a12fff;}
#lego .collectionContainer img {
  margin-top: 5px;
  width: 500px;
}
#software .collectionContainer img {
  width: 450px;
  margin-top: 15px;
}
#map-labs .collectionContainer img {
  width: 320px;
}
body#lego {
  background-image: url(local/pattern-lego.png);
  background-repeat: repeat;
}
body#software {
  background-image: url(local/pattern-software.png);
  background-repeat: repeat;
}
body#map-labs {
  background-image: url(local/pattern-map-labs.png);
  background-repeat: repeat;
}
/* MEDIA QUARIES */
@media only screen and (max-width: 900px) {
  .col {
    flex: 1 0 18%;
    height: auto;
  }
  .splashIntro {
    display: none;
  }
  .right img {max-height: 5vw;}
}
@media only screen and (max-width: 800px) {
  .row {margin: 14px;}
  .col {
    flex: 1 0 20%;
    height: auto;
  }
  .left h1 {font-size: 18px;}
  .left p {font-size: 12px;}
  .right img {max-height: 5vw;}
  .alert {display: none;}
  #collectionInfo p {display: none;}
  .collectionContainer img {display: block; margin-left: auto; margin-right: auto;}
  .collectionContainer p {display: block; margin: 10px auto 10px auto; text-align: center;}
}
@media only screen and (max-width: 715px) {
  .col {flex: 1 0 25%;height: auto;}
  .collection-col {flex: 1 0 90%; margin: 20px;}
  .vaultmain-searchengine input {width: 70%;}
  .vaultmain-searchengine input:focus {width: 70%;}
  .footer {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr;
    background-position: 0px 30px;
    gap: 0px 0px; 
    grid-template-areas: 
      "left"
      "right"; 
  }
  .textbox {
    height: 100%;
    position: relative;
    margin: 0;
    left: 0;
  }
  .right img {
    display:block;
    position: relative;
    margin: auto;
    max-height: 55px;
    top: 25px;
    left: 0px;
    -ms-transform: none;
    transform: none;
  }
  .left {
    text-align: center;
  }
  .left h1 {
    font-size: calc(16px + 1vw);
    margin-top: 40px;
  }
  .content p i{display: none;}
}
@media only screen and (max-width: 620px) {
  .col {flex: 1 0 40%;height: auto;justify-content: center;}
  .responsiveNav {display: none;}
  .l1 {position: absolute;top: 50px;background: rgba(24, 26, 27, 0.8);backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);}
  .l2 {position: absolute;top: 100px;background: rgba(24, 26, 27, 0.8);backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);}
  .l3 {position: absolute;top: 150px;background: rgba(24, 26, 27, 0.8);backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);}
  .l4 {position: absolute;top: 200px;background: rgba(24, 26, 27, 0.8);backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);}
  .l5 {position: absolute;top: 250px;background: rgba(24, 26, 27, 0.8);backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);}
  li {padding: 0;}
  .responsiveNav {width: 100%;text-align: center;}
  .mobileNav {display: inline;}
  .branding img {margin-left: 0px; padding-left: 1rem;}
  .collectionContainer img {width: 85% !important;}
}
@media only screen and (max-width: 490px) {
  .row {margin: 17px;}
  .left p {font-size: 10px;}
}
@media only screen and (max-width: 400px) {
  .vaultmain-searchengine input {font-size: 12px;}
  .row {margin: 15px;}
  .col {flex: 1 0 80%;margin: 5px;height: auto;width: 100%;}
  .navhead a {display: none;}
  .content h2 b{display: none;}
}